
/*STYLESHEET FOR ALLE SIDERNE*/

/*HTML + BODY*/
html, body {
  background-image: url(../images/baggrund-natur.svg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

/*BAGGRUND scroll down, billede bliver samme sted*/
.scroll-bg {
	min-height: 100%;
}

/*FONTS start*/

body p {
	font-family: "freight-sans-pro";
	font-size: 1.2em;
	font-weight: 400;
}


#overskrift h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-weight: 700;
	
	color: #8517ac;
}

h2 {
	font-family: "freight-sans-pro";
	font-weight: 500;
	
	color: #8517ac;
}


h3, h4, h5, h6 {
	font-family: "freight-sans-pro";
	font-weight: 500;
}
/*FONTS slut*/


/*LINKS*/
a {
	color: black;
}

/*NAVIGATION*/
.bg-custom {
	background-color: transparent;
}

.navbar-brand img {
	width: 300px;
}

/*nav links*/
.nav-link {
	background-color: #f8bb2c;
	border: 2px solid #8517ac;
	border-radius: 3px;
}

.nav-link:hover  {
	background-color: #d0e841;
	transition: 0.2s;
}


.nav-pills li {	
margin: 0 0.5rem;
}

/*Buttons*/
button.btn {
	background-color: #f8bb2c;
	padding: 9px;
	border: 2px solid #8517ac;
}

button.btn-primary {
	color: black;
	background-color: #f8bb2c;
	border: 2px solid #8517ac;
}

button.btn-primary:hover {
	color: black;
	background-color: #d0e841;
	border: 2px solid #8517ac;
}


button.btn-secondary {
	color: black;
}

button.btn-secondary:hover {
	color: black;
}

.btn-secondary, .show>.btn-secondary.dropdown-toggle {
	border: 2px solid #8517ac;
	margin-left: 8px; 
}


/*dropdown button*/
#dropdownMenu2 {
	color: black;
	background-color: #f8bb2c;
}


#dropdownMenu button:hover {
	color: black;
}


/*dropdown liste*/
.dropdown-menu {
	background-color: #f8bb2c;
}

/*dropdown liste*/
.dropdown button.dropdown-item:hover {
	color: black;
	background-color: #d0e841;
}



/*BRØDKRUMME*/
.breadcrumb{
	background-color: #d0e841;
}


/*FOOTER*/
.card img {
	width: 320px;
}

a.footer-link-bg {
    background-color: #FFFCF0;
}

a.footer-link-item, a.footer-link-item:hover {
	background-color: #d0e841;
}

.list-group-item {
    background-color: #FFFCF0;
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background-color: #d0e841;
}


/*Cards*/
.card-body{
	background-color: #FFFCF0;
}

/*LOGO*/




/*STYLESHEETS FOR HVER ENKELT UNDERSIDE*/

/*SIDE: OM*/
.send-button {
    max-width: 70px;
}


/*SIDE: FIND LEGEPLADS*/
.form-inline .btn-outline-success {
	color: black;
}

.form-inline .btn-outline-success:hover {
	color: black;
	background-color: #d0e841;
	border: 2px solid #8517ac;
	
}

/*Find legeplads - Font Awesome ikon*/
.fas {
	margin-right: 0.3em;
}


/*SIDE: BLOG*/
.card a.btn.btn-primary {
	color: black;
	background-color: #f8bb2c;
	border: 2px solid #8517ac;
}

.badge-primary{
	color: black;
	background-color: #d0e841;
}

/*SIDE: BLOG INDLÆG*/
.media-body {
	background-color: #FFFCF0;
}

.blog-indlaeg-baggrund {
	background-color: #FFFCF0;
}


/*SIDE: INTERAKTIV BOG*/
/* Interaktiv bog side */
#book {
	background: url("book.png");
    background-repeat: no-repeat;
	width: 830px;
	height: 260px;
	
}

#pages section {
	background: url("paper.png");
    background-repeat: no-repeat;
	display: block;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 250px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 3px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}


/*TEGN EN FUGL*/


/*VIDEO TUTORIAL*/
#video-iframe {
    position:relative;
    height:0;
    padding-bottom:56.25%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    frameborder: 0;
}
